{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}
{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
{% if items|first.menu_level == 0 %}
  <ul class="mainMenu navbar-nav justify-content-between w-100 mt-2"> 
{% else %}
  <ul {{ attributes.addClass('dropdown-menu') }}> 
{% endif %}

  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
      'nav-item',
      item.is_expanded ? 'dropdown', 
      item.is_collapsed ? 'menu-item--collapsed',
      item.in_active_trail ? 'menu-item--active-trail',
    ] %}
    <li{{ item.attributes.addClass(menu_item_classes) }}>
      {% set rendered_content = item.content|without('')|render %}
      {% if rendered_content %}
        {{ rendered_content }}
      {% endif %}	
      {{ link(item.title, item.url, item.attributes.addClass('nav-link')) }}
    </li>
  {% endfor %}
  </ul>
{% endmacro %}
