<div class="fotterContacts col-12 col-md-6 col-lg-4">
	<div class="p24"><a href="tel:{{ phone }}">{{ phone }}</a></div>
	<div class="pb-2"><a href="mailto:{{ email }}">{{ email }}</a> <br />{{ content }}</div>
	<div class="d-flex align-items-center"><img src="/themes/custom/stavmaster/images/vk.png"> <a href="https://vk.com/club75529275" target="_blank" class="ml-2">VK.COM - StavMaster</a></div>
</div>	  