<div class="fotterContacts col-12 col-md-6 col-lg-4">
	<div class="p24"><a href="tel:{{ phone }}">{{ phone }}</a></div>
	<div class="pb-2"><a href="mailto:{{ email }}">{{ email }}</a> <br />{{ content }}</div>
	<div class="d-flex align-items-center"><span class="material-icons mr-1">smart_display</span> <a href="https://www.youtube.com/channel/UC65-FAYwsUvncKE2T5294-Q" target="_blank">YouTube - Stavmaster</a></div>
</div>	  