<div class="col-md-6 col-lg-4">
	<div class="card mb-4 rounded shadow">
	  <img src="{{ fields.field_image.content }}" class="card-img-top rounded-top" alt="{{ fields.field_header.content }}">
	  <div class="card-body d-flex justify-content-between rounded-bottom">
		<h5 class="card-title mb-0">{{ fields.field_header.content }}</h5> 
		<a href="/node/{{ fields.field_link_services.content }}" class="stretched-link"></a>
		<!--a href="{{ fields.field_link.content }}" class="stretched-link"></a-->
		<span class="material-icons">keyboard_arrow_right</span>
	  </div>
	</div>
</div>